@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --background: #f4c3ff;
  --buttons: #fff;
  --text-light: #3f3f3f;
  --dark: #000000;
}

body {
  background-color: var(--background);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.icon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

img {
  width: 15rem;
	height: 15rem;
  border-radius: 100%;
  box-shadow:0rem 0rem 1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.icon-content p {
  font-weight: 500;
  font-size: 1.8rem;
}

.section-title {
  font-size: 2rem;
}

#about_me,
#links,
#social_media {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: start;
  margin-top: 3rem;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--buttons);
  border-radius: 3rem;
  box-shadow:1rem 1rem 0rem 0rem rgba(0, 0, 0, 0.1);
}

.section-subtitle {
  font-size: 1.6rem;
  text-align:justify;
  color: var(--text-light);
}

.links-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn-default {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--background);
  text-decoration: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 3rem;
  transition: background-color .3s ease;
}

a {
  text-decoration: none;
}

.btn-default:hover {
  background-color: var(--buttons);
}

.social-media-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1.8rem;
}

.social-media-buttons a {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--background);
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--dark);
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color .3s ease;
  border: var(--dark);
  border-style: solid;
  border-width: 0.2rem;
}

.social-media-buttons a:hover {
  background-color: var(--buttons);
}

@media screen and (max-width: 1271px) {
  main {
    margin-bottom: 2.5rem;
  }
  
  #about_me, 
  #links, 
  #social_media {
    width: 50%;
  }
}

@media screen and (max-width: 1020px) {
  #about_me, 
  #links, 
  #social_media {
    width: 60%;
  }
}

@media screen and (max-width: 865px) {
  #about_me, 
  #links, 
  #social_media {
    width: 70%;
  }
}

@media screen and (max-width: 735px) {
  #about_me, 
  #links, 
  #social_media {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  #about_me, 
  #links, 
  #social_media {
    width: 90%;
  }
}

@media screen and (max-width: 570px) {
  .links-buttons {
    gap: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .social-media-buttons {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 375px) {
  .btn-default {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 334px) {
  .links-buttons {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}